.navContainer {
    width: 100%;
    height: 46px;
    background-color: rgb(51, 51, 51);
    position: absolute;
    display: flex;
    justify-content: center;
    color: #ccc;
}

.navSubContainer {
    width: 100%;
    max-width: 1260px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.navLeft {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLeft a {
    border-right: 1px solid black;
    cursor: pointer;
}

.navLogoContainer {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#f70, #f30);
}

.navLogo {
    width: 65%;
    height:50%;
    background-image: url("../images/navLogo.png");
    background-size: cover;
}

.navLeftLinks {
    width: calc(100% - 70px);
    height: 100%;
    display: flex;
}

.navLink {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.navLink:hover {
    color:#eee
}

.navSearchBar {
    width: 30%;
    min-width: 178px;
    max-width: 326px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navSearchBar input {
    width: calc(90% - 25px);
    height: 26px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    background-color: #d6d6d6;
}

.navSearchBar input:focus {
    outline: none;
}

.searchBtnCtn {
    height: 28px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchButton {
    border: none;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-image: url(../images/search.svg);
    background-size: cover;
    cursor: pointer;
    background-color: #d6d6d6;
}

.navRight {
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.navRightSubContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navRightSubContainer a {
    cursor: pointer;
}

.navUpload {
    width: 67px;
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navUpload:hover {
    color: #eee
}

.navProfile {
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navProfile img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.navProfile svg {
    height: 15px;
    width: 15px;
}

.navRightIcons {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navIcons {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navIcons svg {
    height: 21px;
}

.navIcons:hover svg {
    color: white;
}