.tileContainer {
    width: 180px;
    height: 230px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.songImg {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    cursor: pointer;
}

.playBtn {
    height: 60px;
    width: 60px;
    background-color: #f50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    caret-color: transparent;
}

.playBtn:hover {
    background-color: #f30;
}

.playIcon {
    background-image: url("../images/play.svg");
    background-size: cover;
    height: 40px;
    width: 25px;
    margin-left: 20px;
    margin-top: 10px;
    z-index: 101;
}

.songInfo {
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tileContainer h4 {
    font-size: 15px;
    line-height: 0%;
    font-weight: 100;
    color: #000;
    cursor: pointer;
}

.tileContainer h5 {
    font-size: 12px;
    line-height: 0%;
    font-weight: 100;
    cursor: pointer;
    color: #5b5b5b;
}

.tileContainer h5:hover {
    color: black;
}

